.appArea {
  display: flex;
  font-size: 22px;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  font-family: sans-serif;
}
.playingArea {
  width: 100px;
  height: 73px;
  padding: 27px 0px 0px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffffff;
}
.playingTile {
  cursor: default;
  font-size: 40px;
  margin: 0px;
  color: white;
  position: relative;
}
.tc1 {
  background-color: rgba(100, 100, 100, 0.5);
}
.tc2 {
  background-color: #d4d40b;
}
.tc3 {
  background-color: #ff8000;
}
.tc2048 {
  background-color: #ff0000;
}
.default {
  background-color: rgba(0, 255, 247, 0.5);
}
.grid {
  display: flex;
  flex-direction: column;
  gap: 5px;
  background-color: #320c0c;
  border: 5px solid #320c0c;
}
.playingRow {
  display: flex;
  flex-direction: row;
  gap: 5px;
}
.settingsButton {
  cursor: pointer;
  height: 25px;
  display: flex;
  flex-direction: column;
  background-color: #0d6262;
  border-radius: 10px;
  align-items: center;
  padding: 4px 4px;
}
.settingsButton:hover {
  background-color: #19d7d7;
}
.settingsButton .buttonLabel {
  height: 22px;
  color: white;
}
.buttonsRibbon {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
}
.topSettings {
  display: flex;
  gap: 5px;
  flex-direction: column;
  align-items: center;
}
.toggleButtonBox {
  width: 45px;
  height: 20px;
  border: black solid 1px;
  border-radius: 10px;
  cursor: pointer;
}
.toggleButtonBox .slider {
  position: relative;
  top: 1px;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background-color: blue;
  margin: 0px 1px;
}
.toggleButtonBox .on {
  left: 25px;
}
