@lightModeGrid : rgb(255, 255, 255);
@gridOutlineColor : rgb(50, 12, 12);
@tileColor1 : rgba(100, 100, 100, 0.5);
@tileColor2 : rgb(212, 212, 11);
@tileColor3 : rgb(255, 128, 0);
@tileColor2048 : rgb(255, 0, 0);
@tileDefault: rgba(0, 255, 247, 0.5);

@import "./less/app.less";
@import "./less/playingArea.less";
@import "./less/grid.less";
@import "./less/settingsPane.less";
@import "./less/toggleButton.less";
