@lightModeGrid : rgb(255, 255, 255);
@gridOutlineColor : rgb(50, 12, 12);
@tileColor1 : rgba(124, 222, 63, 0.5);
@tileColor2 : rgb(163, 211, 41);
@tileColor3 : rgb(171, 174, 1);
@tileColor4 : rgb(226, 165, 10);
@tileColor5 : rgb(247, 66, 34);
@tileColor2048 : rgb(128, 3, 3);
@tileDefault: rgb(76, 77, 77);
@tileHover: rgb(25, 215, 215);


@import "./less/app.less";
@import "./less/playingArea.less";
@import "./less/grid.less";
@import "./less/settingsPane.less";


@import "./less/toggleButton.less";
@import "./less/checkBox.less";
