.grid {
    display: flex;
    flex-direction: column;
    gap: 5px;
    background-color: @gridOutlineColor;
    border: 5px solid @gridOutlineColor;
}
.playingRow {
    display: flex;
    flex-direction: row;
    gap: 5px;
}
