.playingArea {
    width: 100px;
    height: 100px;
    background-color: white;
    background-color: rgb(162, 85, 38);
}

.playingTile {
    font-size: 40px;
    color: white;
    position: relative;
}